<!DOCTYPE html>
<html>
  <head>
    <title>Microblog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>

  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 centered">

          <!-- messages -->
          {% for message in get_flashed_messages() %}
            <div class="alert alert-success" role="alert">{{message}}
            </div>
          {% endfor %}

          <!-- errors -->
          {% if error %}
          <br>
            <div class="alert alert-danger" role="alert">{{error}}</div>
          {% endif %}

          <!-- child template -->
          {% block content %}{% endblock %}

          <br>
        </div>
      </div>
    </div>

  </body>
</html>