{% extends "base.html" %}
{% block content %}

<h1>Welcome, {{ current_user.name }}!</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<hr>
<!-- post form -->
<h3>Add a Post!</h3>
<br>
<form class="form-message" role="form" method="post" action="/">
  {{ form.csrf_token }}
  <p>
    {{ form.title(placeholder="title",class="form-control") }}
    <span class="error">
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.description(placeholder="description", class="form-control") }}
    <span class="error">
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">Post</button>
</form>
<hr>
<!-- All posts -->
<h3>Posts:</h3>
{% for post in posts %}
<div class="panel panel-default">
  <div class="panel-heading"><strong>Title: </strong>{{ post.title }}
    <div class="row">
        <blockquote>{{ post.description }}<small>{{ post.author.name }} says</small></blockquote>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}